<html>

<head>
    <link href="/client/static/styles.css" rel="stylesheet"/>
    <script defer type="module" src="/client/static/script.js"></script>

    <title>ssr</title>
</head>

<body>

pathname: <%- pathname %>

<div id="app">

</div>

</body>
</html>